.hi {
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none !important;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  // fix bottom gradient
  padding-bottom: desktop-vh(40px);
}
