.button {
  height: mobile-vw(48px);
  width: 100%;
  text-align: center;
  grid-column: span 2;

  @include desktop {
    height: desktop-vw(48px);
  }
}

.form {
  &:not(.visible) {
    display: none;
  }
}
