.layout {
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
  display: flex;
  flex-direction: column;

  @include desktop {
    height: 100vh;
  }

  .main {
    // flex-direction: column;
    // width: 100%;
    // if content is empty, footer will remains sticky to bottom
    overflow: hidden;
    flex-grow: 1;

    @include desktop {
      display: flex;
    }
  }
}
